<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
    <h1>Заполнить форму регистрации</h1>
    <form th:action="@{/registration}" th:object="${user}" method="post">
        <label>Имя пользователя</label>
        <input type="text" th:field="*{name}"/>
        <label>E-mail</label>
        <input type="email" th:field="*{email}"/>
        <label>Пароль</label>
        <input type="password" th:field="*{password}"/>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>




<!--<form th:action="@{/hotels/add}" th:object="${hotel}" method="post">-->
<!--    <label>Name:</label>-->
<!--    <input type="text" th:field="*{name}" />-->
<!--    <label>Address:</label>-->
<!--    <input type="text" th:field="*{address}" />-->
<!--    <label>City:</label>-->
<!--    <input type="text" th:field="*{city}" />-->
<!--    <label>Description:</label>-->
<!--    <input type="text" th:field="*{description}" />-->
<!--    <button type="submit">Save</button>-->
<!--</form>-->

